<p id="notice"><%= notice %></p>

<p>
  <strong>School name:</strong>
  <%= @school.school_name %>
</p>

<p>
  <strong>School number:</strong>
  <%= @school.school_number %>
</p>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
