<%= form_with(model: user_subscription, local: true) do |form| %>
  <% if user_subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_subscription.errors.count, "error") %> prohibited this user_subscription from being saved:</h2>

      <ul>
      <% user_subscription.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :user_subscription_user_id %>
  </div>

  <div class="field">
    <%= form.label :subscription_id %>
    <%= form.number_field :subscription_id, id: :user_subscription_subscription_id %>
  </div>

  <div class="field">
    <%= form.label :type_of %>
    <%= form.text_field :type_of, id: :user_subscription_type_of %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
